body {
  background-image: url("../images/about-background-image.jpg");
}
#container {
  height: 100vh;
  position: relative;
  display: flex;
}
#view-contact,
#view-faq {
  display: none;
  width: 15rem;
  background-color: rgba(142, 150, 67, 0.2);
}
#view-contact:hover,
#view-faq:hover {
  background-color: rgba(142, 150, 67, 0.3);
}
#faq {
  width: 40vw;
  top: 0;
  left: 0;
  margin-left: 5vw;
}
.div-header {
  padding: 0;
  margin-bottom: 1.2rem;
  width: 100%;
  margin-top: 1.5rem;
  text-align: center;
  font-weight: 400;
  letter-spacing: 1px;
}
section {
  pointer-events: none;
}
.question {
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  text-align: center;
  background-color: rgba(32, 64, 102, 0.275);
  border: 1px solid rgba(233, 247, 255, 0.95);
  pointer-events: auto;
}
.question:hover {
  background-color: #596e98bb;
  cursor: pointer;
}
.question:focus {
  background-color: #596e98bb;
}
h2 {
  letter-spacing: 2px;
  justify-self: center;
  align-self: center;
  margin: auto;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 5px 20px 5px 20px;
  pointer-events: none;
}
.paragraph {
  display: none;
  width: 100%;
  justify-content: center;
  pointer-events: none;
}
.paragraph p {
  align-self: center;
  justify-self: center;
  justify-items: center;
  text-align: justify;
  border-left: 1px solid #273a6375;
  border-right: 1px solid #273a6375;
  margin: 0;
  background-color: #273a6375;
  padding: 1rem;
}
.paragraph a {
  color: rgba(104, 245, 255, 0.926);
}
#form {
  display: flex;
  flex-direction: column;
  width: 40vw;
  margin-right: 5vw;
  position: absolute;
  top: 0;
  right: 0;
}
#form div {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 60vh;
}
.form-common-styling {
  font-family: "Roboto Mono", monospace;
  color: rgba(233, 247, 255, 0.95);
  width: 100%;
  align-self: center;
}
label {
  text-align: left;
  justify-self: center;
  font-size: 1rem;
  font-family: "Mulish", sans-serif;
  margin-bottom: 5px;
  font-weight: 300;
  letter-spacing: 1px;
}
input {
  border-radius: 10px;
  background-color: #13192588;
  border: 1px solid #c2d5db;
  margin-bottom: 30px;
  font-family: "Mulish", sans-serif;
  height: 30px;
}
textarea {
  resize: none;
  border-radius: 10px;
  background-color: #13192573;
  border: 1px solid #c2d5db;
  height: 10rem;
}
button {
  border-radius: 10px;
  background-color: #13192573;
  border: 1px solid #c2d5db;
  text-transform: uppercase;
  font-size: 20px;
  color: rgba(233, 247, 255, 0.95);
  font-family: "Roboto Mono", monospace;
  align-self: center;
  padding: 5px 20px 5px 20px;
  margin-top: 5vh;
  position: relative;
}
button:hover {
  cursor: pointer;
  background-color: #c2d5db2e;
}
input:disabled,
textarea:disabled,
button:disabled {
  background-color: rgba(60, 60, 60, 0.803);
  cursor: auto;
}
button:disabled::after {
  content: "Message Sent";
  color: rgba(229, 255, 0, 0.837);
  position: absolute;
  left: 20px;
  top: 45px;
}

@media only screen and (max-width: 900px) {
  .paragraph p {
    padding-left: 20vw;
    padding-right: 20vw;
  }
  #faq {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
  }
  #view-contact {
    display: block;
    margin-bottom: 2rem;
  }
  .div-header {
    margin-top: 0;
  }
  .button {
    width: 13rem;
    margin-bottom: 1rem;
    margin-top: 1.4rem;
  }
  #container {
    align-content: center;
    flex-direction: column;
  }
  #form {
    height: 90vh;
    display: none;
    width: 100vw;
    margin: 0;
    right: 5vw;
    top: 6rem;
    position: static;
  }
  #form div {
    flex-direction: column;
    width: 90%;
    margin: 0;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  input {
    height: 20px;
  }
  textarea {
    height: 100px;
  }
}
@media only screen and (max-width: 750px) {
  h2 {
    font-size: 1.2rem;
    text-align: center;
  }
  .paragraph p {
    font-size: 1rem;
    padding-left: 15vw;
    padding-right: 15vw;
    justify-self: center;
    align-self: center;
    font-weight: 300;
    letter-spacing: 1px;
  }
  section:last-of-type {
    margin-bottom: 3rem;
  }
}
@media only screen and (max-width: 450px) {
  .paragraph p {
    padding-left: 10vw;
    padding-right: 10vw;
  }
}
