@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Roboto Mono", monospace;
  color: rgba(233, 247, 255, 0.95);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 50vh #131925bb; /*This adds a color filter over the image instead of creating a new div*/
  width: 100vw;
  height: 100vh;
}
#background-cover {
  background-color: #131925bb;s
  height: 100%;
  width: 100%;
}
.dark-background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  background-color: #000000ab;
  z-index: 2;
}
.font {
    
  font-family: "Mulish", sans-serif;
  color: rgba(233, 247, 255, 0.95);
  font-weight: 300;
}
html,
body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
noscript {
  z-index: 10;
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #131925;
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 2rem;
}
footer {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 2rem;
  bottom: 0;
  position: relative;
}
footer a {
  position: absolute;
  left: 2vw;
  color: rgba(104, 245, 255, 0.926);
}
footer p {
  position: absolute;
  right: 2vw;
  height: 2rem;
  margin: 0;
}

@media only screen and (max-width: 400px) {
  footer {
    flex-direction: column;
  }
  footer a,
  footer p {
    position: static;
    text-align: center;
    margin-bottom: 1rem;
  }
}
