@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* not for header.css*/
body {
  margin: 0;
}
#background {
  width: 100%;
  background-image: url("../images/1280px-Pleiades_large.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
#background-cover {
  background-color: #131925bb;
  height: 100%;
  width: 100%;
}

/* ----- */
header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  position: relative;
}
h1 {
  margin: 0;
  height: 50px;
  display: flex;
  font-size: 25px;
}
#logo {
  font-family: "Roboto Mono", monospace;
  color: rgba(233, 247, 255, 0.95);
  font-weight: 300;
  text-decoration: none;
  letter-spacing: 4px;
  text-transform: uppercase;
  justify-self: center;
  align-self: center;
}
#navbar-mobile {
  position: fixed;
  top: 70px;
  left: 0;
  height: 100vh;
  width: 100vh;
  background-image: url("../images/eaglenebula.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: none;
  margin: 0;
  z-index: 1;
  padding: 0;
  padding-top: 10vh;
}
#navbar-mobile li {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 50px;
  width: 100vw;
  justify-content: center;
  margin-bottom: 5vh;
}
#navbar-mobile li a {
  text-decoration: none;
  color: rgba(233, 247, 255, 0.95);
  font-family: "Roboto Mono", monospace;
  justify-self: center;
  align-self: center;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 2px;
}
#navbar-mobile .font-awesome-icon {
  font-size: 40px;
}
#navbar-mobile li:nth-child(4),
#navbar-mobile li:nth-child(5),
#navbar-mobile li:nth-child(6) {
  width: 33vw;
  margin: 0;
  justify-self: flex-start;
  display: inline-block;
  text-align: center;
  margin-top: 10vh;
}
#follow-us {
  display: none;
  color: rgba(233, 247, 255, 0.95);
  font-family: "Roboto Mono", monospace;
  font-size: 30px;
  margin-top: 15vh;
  font-weight: 300;
}
#navbar {
  display: flex;
  flex-direction: row;
  width: auto;
  margin: 0;
  position: absolute;
  right: 30px;
}
#navbar li {
  list-style-type: none;
  display: flex;
  margin-left: 40px;
  height: 50px;
}
#navbar li a {
  text-decoration: none;
  color: rgba(233, 247, 255, 0.95);
  font-family: "Roboto Mono", monospace;
  justify-self: center;
  align-self: center;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 2px;
}
#navbar .font-awesome-icon {
  font-size: 30px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-in {
  animation-name: fade-in;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
}

#navbarToggle {
  width: auto;
  margin-right: 50px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#navbarToggle span {
  display: inline-block;
  background-color: white;
  height: 2px;
  width: 25px;
  margin: 4px;
  border-radius: 10px;
}
#navbarToggle .top-bar {
  position: relative;
  animation-name: top-bar-toggle;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}
#navbarToggle .bottom-bar {
  position: relative;
  animation-name: bottom-bar-toggle;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}
#navbarToggle .middle-bar {
  display: none !important;
}

@keyframes top-bar-toggle {
  from {
    transform: rotate(0deg);
    top: 0px;
    z-index: 0;
  }
  to {
    transform: rotate(45deg);
    top: 5px;
    z-index: 2;
  }
}
@keyframes bottom-bar-toggle {
  from {
    transform: rotate(0deg);
    top: 0px;
    z-index: 0;
  }
  to {
    transform: rotate(-45deg);
    bottom: 5px;
    z-index: 2;
  }
}

@media only screen and (max-width: 750px) {
  #navbarToggle {
    display: flex;
  }
  nav {
    display: none;
  }
}
@media only screen and (min-width: 751px) {
  nav {
    display: block !important;
  }
}
