@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* not for header.css*/
body {
  margin: 0;
  font-family: "Roboto Mono", monospace;
}
#background {
  width: 100%;
}
#background-cover {
  background-color: #131925bb;
  height: 100%;
  width: 100%;
}
html,
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

/* ----- */
header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-left: 2vw;
  padding-right: 2vw;
  position: relative;
}
h1 {
  margin: 0;
  height: 50px;
  display: flex;
  font-size: 1.6rem;
  margin-left: 3vw;
}
#logo {
  color: rgba(233, 247, 255, 0.95);
  font-weight: 300;
  text-decoration: none;
  letter-spacing: 4px;
  text-transform: uppercase;
  justify-self: center;
  align-self: center;
}
#logo:hover {
  color: #beefff;
  animation-name: hover-navitem-no-underline;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
#navbar-cover {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  background-color: #000000ab;
  z-index: 2;
}
.navbar-mobile {
  position: fixed;
  left: -250px;
  height: 100vh;
  width: 250px;
  box-shadow: inset 0 0 0 50vh #313846cc;
  background-color: #131925;
  background-image: url("../images/helix-nebula.jpg");
  background-size: cover;
  background-position: center;
  display: block !important;
  margin: 0;
  z-index: 3;
  padding: 0;
  padding-top: 10vh;
}
.navbar-mobile li {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 50px;
  justify-content: center;
  margin-bottom: 5vh;
}
.navbar-mobile li a {
  text-decoration: none;
  color: rgba(233, 247, 255, 0.95);
  justify-self: center;
  align-self: center;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 2px;
}
.navbar-mobile .font-awesome-icon {
  font-size: 2.4rem;
}
.navbar-mobile li:nth-child(3):before {
    content: "FOLLOW US";
    text-align: center;
    width: 250px;
    display: block;
    margin-bottom: 15px;
}
.navbar-mobile li:nth-child(3),
.navbar-mobile li:nth-child(4),
.navbar-mobile li:nth-child(5) {
  width: 76px;
  display: inline-block;
  text-align: center;
  margin-top: 10vh;
}
#follow-us {
  display: none;
  color: rgba(233, 247, 255, 0.95);
  font-family: "Roboto Mono", monospace;
  font-size: 30px;
  margin-top: 15vh;
  font-weight: 300;
}
.navbar-browser {
  display: flex;
  flex-direction: row;
  width: auto;
  margin: 0;
  position: absolute;
  right: 3vw;
  padding: 0;
  justify-content: flex-start;
}
.navbar-browser li {
  list-style-type: none;
  display: flex;
  margin-left: 2vw;
  margin-right: 2vw;
  height: 50px;
}
.navbar-browser li a {
  text-decoration: none;
  color: rgba(233, 247, 255, 0.95);
  font-family: "Roboto Mono", monospace;
  justify-self: center;
  align-self: center;
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 2px;
}
.navbar-browser li:nth-child(1) a:hover,
.navbar-browser li:nth-child(2) a:hover {
  border-bottom: 1px solid #beefff;
  animation-name: hover-navitem;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  margin-top: 1px;
  animation-fill-mode: forwards;
}
.navbar-browser .font-awesome-icon {
  font-size: 30px;
}
.navbar-browser .font-awesome-icon:hover {
  color: #beefff;
  animation-name: hover-navitem-no-underline;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  margin-top: 1px;
  animation-fill-mode: forwards;
}
@keyframes hover-navitem {
  from {
    width: 0%;
    color: rgba(233, 247, 255, 0.95);
  }
  to {
    width: 96%;
    color: #beefff;
  }
}
@keyframes hover-navitem-no-underline {
  from {
    color: rgba(233, 247, 255, 0.95);
  }
  to {
    color: #beefff;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-in {
  animation-name: fade-in;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
}

#navbarToggle {
  width: auto;
  margin-right: 50px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#navbarToggle:hover {
  cursor: pointer;
}
#navbarToggle span {
  display: inline-block;
  background-color: white;
  height: 2px;
  width: 25px;
  margin: 4px;
  border-radius: 10px;
}
#navbarToggle .top-bar-open {
  position: relative;
  animation-name: top-bar-open;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}
#navbarToggle .top-bar-close {
  position: relative;
  animation-name: top-bar-close;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}
#navbarToggle .bottom-bar-open {
  position: relative;
  animation-name: bottom-bar-open;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}
#navbarToggle .bottom-bar-close {
  position: relative;
  animation-name: bottom-bar-close;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}
#navbarToggle .middle-bar-open {
  display: none !important;
}
#navbarToggle .middle-bar-close {
  animation-name: middle-bar-close;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}

@keyframes top-bar-open {
  from {
    transform: rotate(0deg);
    top: 0px;
    z-index: 0;
    opacity: 0;
  }
  to {
    transform: rotate(45deg);
    top: 4px;
    z-index: 2;
    opacity: 1;
  }
}
@keyframes top-bar-close {
  from {
    transform: rotate(45deg);
    top: 4px;
    z-index: 2;
    opacity: 0;
  }
  to {
    transform: rotate(0deg);
    top: 0px;
    z-index: 0;
    opacity: 1;
  }
}
@keyframes bottom-bar-open {
  from {
    transform: rotate(0deg);
    top: 0px;
    z-index: 0;
    opacity: 0;
  }
  to {
    transform: rotate(-45deg);
    bottom: 4px;
    z-index: 2;
    opacity: 1;
  }
}
@keyframes bottom-bar-close {
  from {
    transform: rotate(-45deg);
    top: 4px;
    z-index: 2;
    opacity: 0;
  }
  to {
    transform: rotate(0deg);
    top: 0px;
    z-index: 0;
    opacity: 1;
  }
}
@keyframes middle-bar-close {
  from {
    display: none;
    opacity: 0;
  }
  to {
    display: block;
    opacity: 1;
  }
}

footer {
    display: none;
}

@media only screen and (max-width: 750px) {
  #navbarToggle {
    display: flex;
  }
  nav {
    display: none;
  }
  h1 {
    font-size: 1.3rem;
  }
  header {
    padding: 0 4vw 0 4vw;
  }
  #navbarToggle span {
    width: 20px;
    margin: 3px;
  }
  footer {
      width: 250px;
      margin-top: 15vh;
      text-align: left;
  }
  footer a {
      color: lightblue;
      display: inline-block;
      margin-bottom: 2.5vh;
      font-size: 0.8rem;
      padding-left: 20px;
  }
  footer p {
      font-size: 0.8rem;
      padding-left: 20px;
  }
}
@media only screen and (min-width: 751px) {
  nav {
    display: block !important;
  }
}
