@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  height: 100vh;
}
/* footer not for this 
*/
@media only screen and (max-width: 810px) {
body {
  width: 100%;
  background-image: url("../images/index-background-image.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 50vh #131925bb; /*This adds a color filter over the image instead of creating a new div*/
}
#app {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
#top-container {
  padding: 0;
  display: flex;
  flex-direction: row;
  border-top: #2f3f5c solid 0.5rem;
  border-bottom: #2f3f5c solid 0.5rem;
}
#display-values h3 {
    width: 100px;
}
#return,
#return-again {
    z-index: 1;
}
#bottom-container {
  display: inline-block;
  width: 100%;
  padding: 0 10px 0 10px;
}
#image-information {
  font-family: "Mulish", sans-serif;
  font-weight: 500;
  background-color: rgba(208, 192, 163, 0.15);
  display: none;
  min-width: 300px;
  margin: 0;
  top: 0;
  left: 0;
  flex-direction: column;
}
#image-information article {
  height: 50vw;
  width: 100%;
  padding: 0;
  justify-content: center;
  align-content: center;
}
#image-information p {
  text-align: justify;
  margin: 10px 20px 10px 20px;
  font-size: 0.9rem;
  padding: 0;
}
#image-information h2 {
  text-transform: capitalize;
  font-size: 1.3rem;
  text-align: center;
  margin: 0;
  letter-spacing: 1px;
  font-weight: 600;
}

/*scrollbar*/
::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  background: #9bcfff56;
}
::-webkit-scrollbar-thumb {
  background: #9bcfff;
}
::-webkit-scrollbar-thumb:hover {
  background: #9bcfff77;
  cursor: pointer; /*pointer not working*/
}

#image-container {
  top: 0;
  width: 30vw;
  height: 30vw;
  overflow: hidden;
  position: relative;
}
#image-container img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  align-self: center;
}
#category-list {
    width: 20vw;
    height: 30vw;
    background-color: #2f3f5c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: relative;
}
#information-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: #2f3f5c9a;
  margin-bottom: 2vh;
  align-content: center;
}
#information-container div {
  text-align: center;
}
#information-container div:first-of-type {
  margin-left: 5vw;
}
#information-container div:last-of-type {
  margin-right: 5vw;
}
#information-container p {
  border: 1px solid rgba(233, 247, 255, 0.521);
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
}
#information-container div ul {
  padding: 0;
  z-index: 0;
  display: none;
  text-transform: capitalize;
}
#information-container div ul li {
  list-style-type: none;
  background-color: #9bcfff41;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}
.common-style {
  background-color: #2f3f5c9a;
  overflow-y: scroll;
  padding: 1rem;
  font-family: "Mulish", sans-serif;
}
.common-style h2 {
  text-align: center;
  margin: 0;
  text-transform: capitalize;
}
.common-style p {
  text-align: justify;
  font-size: 1rem;
}
.common-style table {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.common-style table tbody {
  width: 100%;
}
.common-style table tbody tr {
  width: 100%;
}
.common-style table tbody tr td {
  text-align: center;
  padding-top: 1vh;
  padding-bottom: 1vh;
}
#explanation-container {
  background-color: #2f3f5c9a;
  padding: 1vw;
  margin-top: 2vh;
}
#category-list:hover,
#object-list:hover,
#property-list:hover {
  position: relative;
}
/*#category-list:hover ul,
#object-list:hover ul,
#property-list:hover ul {
  display: block;
  position: absolute;
  top: 2rem;
}*/
#menu-title {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 2rem;
    background-color: #7da3c780;
    position: absolute;
    top: 0;
  }
  #menu-title i {
    height: 2rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8c3d2b67;
  }
  #menu-title span {
    display: none;
  }
  #menu-title i:hover {
    cursor: pointer;
    background-color: #0000002c;
  }
  #menu-title i:active {
    background-color: #00000083;
  }
  #menu-title h3 {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
  }
  #category-list ul {
    padding: 0;
    overflow-y: scroll;
    margin: 0;
    margin-top: 2.5rem;
  }
  #category-list ul li {
    list-style-type: none;
    font-family: "Mulish", sans-serif;
    text-align: center;
    background-color: #9bcfff5a;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 80%;
    margin: 0.5rem auto 0 auto;
    text-transform: capitalize;
    font-size: 1.2rem;
  }
  #category-list ul li:hover {
    cursor: pointer;
    background-color: #ffda4564;
  }


  #app {
    flex-direction: column;
  }
  #top-container {
    padding: 0;
    display: flex;
    flex-direction: row;
    border-left: 0;
    border-right: 0;
    border-top: #2f3f5c solid 0.5rem;
    border-bottom: #2f3f5c solid 0.5rem;
    margin: 0;
    width: 100vw;
  }
  #bottom-container {
    width: 100vw;
    position: relative;
    display: block;
    padding: 0;
    border: 0;
  }
  #image-information {
    display: none;
  }
  #image-container {
    top: 0;
    width: 50vw;
    height: 50vw;
    overflow: hidden;
  }
  #image-container:hover {
    cursor: pointer;
  }
  #expand {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    font-size: 1.2rem;
    color: rgba(233, 247, 255, 0.95);
  }
  #close {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 1.5rem;
    color: rgba(233, 247, 255, 0.95);
    display: none;
  }
  #image-container img {
    width: 100%;
    height: rgba(233, 247, 255, 0.392);
  }
  #category-list {
    width: 50vw;
    height: 50vw;
    background-color: #2f3f5c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: relative;
  }
  #category-list ul {
    padding: 0;
    overflow-y: scroll;
    margin: 0;
    margin-top: 2.5rem;
  }
  #category-list ul li {
    list-style-type: none;
    font-family: "Mulish", sans-serif;
    text-align: center;
    background-color: #9bcfff5a;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 80%;
    margin: 0.5rem auto 0 auto;
    text-transform: capitalize;
    font-size: 1.2rem;
  }
  #category-list ul li:hover {
    cursor: pointer;
    background-color: #ffda4564;
  }
  #menu-title {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 2rem;
    background-color: #7da3c780;
    position: absolute;
    top: 0;
  }
  #menu-title i {
    height: 2rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8c3d2b67;
  }
  #menu-title span {
    display: none;
  }
  #menu-title i:hover {
    cursor: pointer;
    background-color: #0000002c;
  }
  #menu-title i:active {
    background-color: #00000083;
  }
  #menu-title h3 {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
  }
  #information-container div p {
    font-size: 0.8rem;
    width: 24vw;
  }
  #information-container div {
    margin: 0;
    width: 33%;
  }
  #information-container div ul {
    display: none;
    width: 10rem;
    left: 50%;
    margin-left: -5rem;
  }
  #explanation-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2f3f5c;
    margin: 0;
    padding: 0;
  }
  #explanation-container article {
    padding: 6vw;
    overflow: hidden;
  }
  #explanation-container article h3 {
    margin: 0;
  }
  .common-style {
    display: none;
  }
  .common-style table tbody tr td {
    font-size: 0.9rem;
  }
  .common-style table tr td:nth-of-type(2) {
    text-align: right;
  }
  .mobile-display-image-info {
    display: flex !important;
    z-index: 1;
    position: absolute;
    height: 100% !important;
    width: 100% !important;
    background-color: #2f3f5cad !important;
    justify-items: center;
    align-items: center;
  }
  #image-information {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    background-color: #2f3f5c;
    top: 0;
  }
  #image-information div {
    width: 100vw;
    height: 100vw;
  }
  #property-list {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 2rem;
    background-color: #7da3c780;
  }
  #property-list h3 {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
  }
  #property-list i {
    margin-left: 10px;
  }
  #property-list ul {
    position: relative;
    width: 200px;
    height: auto;
    background-color: #2f3f5c;
    z-index: 1;
  }

/*phone in landscape*/ /*
@media only screen and (orientation: landscape) {
  #app {
    flex-direction: row;
  }
  #image-information {
    display: none;
  }
  section:first-of-type {
    height: 45vw;
    position: relative;
  }
  #image-container {
      position: absolute;
      top: 0;
      width: 100%;
  }
  #explanation-container {
    display: none;
  }
  .mobile-display-image-info {
    display: flex;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    height: 35vw !important;
    width: 75vh !important;
    background-color: #2f3f5cad !important;
  }
  #image-information article {
      position: absolute;
      top: 50%;
      margin-top: -25%;
  }
  .common-style {
      max-height: 23vw;
  }
}*/

tr {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  background-color: #5f799269;
  padding: 5px;
  border: 1px solid rgba(233, 247, 255, 0.391);
}
tr:first-of-type {
  background-color: #40638469;
  text-transform: capitalize;
}

td,
th {
  width: 100%;
  text-align: center !important;
  height: 2rem;
}
tr td:first-of-type,
tr th:first-of-type {
  text-align: left !important;
  text-transform: capitalize;
}

#return,
#return-again {
  width: 2rem;
  height: 2rem;
  background-color: rgba(163, 148, 112, 0.459);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.common-style ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  flex-direction: column;
  height: 10rem;
  justify-content: space-evenly;
  align-content: center;
  text-align: center;
  text-transform: capitalize;
}
.common-style ul li {
  font-family: "Mulish", sans-serif;
  background-color: #9bcfff5a;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 80%;
  margin: 0.5rem auto 0 auto;
  font-size: 1.2rem;
}
.common-style ul li:hover {
  cursor: pointer;
  background-color: #ffda4564;
}

#display-values h3 {
  position: absolute;
  top: 0;
  text-align: center;
  width: 100px;
  left: 50%;
  margin-left: -90px;
  text-transform: capitalize;
}

#display-values table {
  margin-top: 2rem;
}
#display-more-info tr {
  margin-top: 2rem;
}
#display-more-info a {
  color: rgba(104, 245, 255, 0.926);
}
#menu-title {
  background-color: rgba(121, 203, 228, 0.495);
}
#display-more-info h3 {
  text-transform: capitalize;
}
#display-values tr:not(:first-child):hover {
  background-color: #9bcfff62;
  cursor: pointer;
}
#return:hover,
#return-again:hover {
  background-color: #9bcfff62;
  cursor: pointer;
}

/*#spinner {
  width: 3rem;    LOADING
  height: 3rem;
  border-top: 0.5rem blue solid;
  border-radius: 50%;
  display: flex;
  animation-name: spin;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

  $("#object-list").append('<div id="spinner"></div>');*/
}