body {
  background-image: url("../images/index-background-image.jpg");
}
#app {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
#image-modal {
  font-family: "Mulish", sans-serif;
  font-weight: 500;
  min-width: 18.75rem;
  display: none;
  position: fixed;
  background-color: #2f3f5c;
  flex-direction: row;
  left: 50%;
  margin-left: -45vw;
  top: 50%;
  margin-top: -22.5vw;
  overflow-y: scroll;
  z-index: 2;
}
#image-modal div {
  width: 45vw;
  height: 45vw;
}
#image-modal img {
  object-fit: fill;
  height: 100%;
  width: 100%;
}
#image-modal article {
  padding: 0.625rem;
  width: 45vw;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  position: relative;
}
#image-modal h2 {
  text-transform: capitalize;
  font-size: 1.3rem;
  text-align: center;
  margin: 0;
  letter-spacing: 0.0625rem;
  font-weight: 600;
}
#image-modal p {
  text-align: justify;
  margin: 0.625rem 1.25rem 0.625rem 1.25rem;
  font-size: 0.9rem;
  padding-left: 8vw;
  padding-right: 8vw;
}
#close-modal {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  color: rgba(233, 247, 255, 0.95);
}
#close-modal:hover,
#open-modal:hover {
  color: #ffffff9c;
  cursor: pointer;
}
#close-modal:focus,
#open-modal:focus {
  color: #ffffff9c;
}
#top-container {
  width: 70vw;
  padding: 0;
  margin-top: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  border: #2f3f5c solid 0.5rem;
}
#image {
  width: 30vw;
  height: 30vw;
  overflow: hidden;
  position: relative;
  top: 0;
}
#image img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  align-self: center;
}
#open-modal {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  font-size: 2rem;
  color: rgba(233, 247, 255, 0.95);
}
#full-list {
  width: 40vw;
  height: 30vw;
  background-color: #202c43bd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  position: relative;
}
#full-list ul {
  padding: 0;
  overflow-y: scroll;
  margin: 0;
  margin-top: 3rem;
}
#full-list ul li {
  list-style-type: none;
  font-family: "Mulish", sans-serif;
  text-align: center;
  background-color: #5f87ac9f;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 80%;
  margin: 0.5rem auto 0 auto;
  text-transform: capitalize;
  font-size: 1.2rem;
}
#full-list ul li:last-of-type {
  margin-bottom: 0.5rem;
}
#full-list ul li:hover {
  cursor: pointer;
  background-color: #8c792f9e;
}
#full-list ul li:focus {
  background-color: #8c792f9e;
}
#menu-title {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 3rem;
  position: absolute;
  top: 0;
  background-color: rgba(71, 135, 165, 0.67);
  border-bottom: 0.0625rem solid #5f87ac9f;
}
#menu-title i {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  border: 0.0625rem solid rgba(233, 247, 255, 0.95);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8c3d2b33;
  position: absolute;
  top: 50%;
  margin-top: -1rem;
  left: 0.5rem;
}
#menu-title span {
  display: none;
}
#menu-title i:hover {
  cursor: pointer;
  background-color: #8c792f9e;
}
#menu-title i:focus {
  background-color: #8c792f9e;
}
#menu-title i:active {
  background-color: #00000083;
}
#menu-title h3 {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  font-weight: 400;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
#object-list {
  display: none;
}
#bottom-container {
  width: 70vw;
  position: relative;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  border: #2f3f5c solid 0.5rem;
  margin-bottom: 1.5rem;
  display: none;
}
#bottom-container div {
  height: 20rem;
  position: relative;
}
#info-selection ul {
  height: 12rem;
}
#display-info h3 {
  position: absolute;
  top: 0;
  text-align: center;
  width: 6.25rem;
  left: 50%;
  margin-left: -5.625rem;
  text-transform: capitalize;
  white-space: nowrap;
}
#display-info table {
  margin-top: 2rem;
}
#display-info tr:not(:first-child):hover {
  background-color: #8c792f9e;
  cursor: pointer;
}
#display-info tr:not(:first-child):focus {
  background-color: #8c792f9e;
}
#return-info-selection,
#return-display-info {
  z-index: 1;
}
#return-info-selection,
#return-display-info {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 0.0625rem solid rgba(233, 247, 255, 0.95);
  background-color: #8c3d2b33;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
#return-info-selection:hover,
#return-display-info:hover {
  background-color: #8c792f9e;
  cursor: pointer;
}
#return-info-selection:focus,
#return-display-info:focus {
  background-color: #8c792f9e;
}
#row-info tr {
  margin-top: 2rem;
  background-color: #5f87ac7c;
}
#row-info a {
  color: rgba(104, 245, 255, 0.926);
}
#row-info h3 {
  text-transform: capitalize;
}
#row-info tr td:nth-of-type(3) {
  text-transform: lowercase;
}
#row-info article:nth-of-type(2) h3 {
  text-transform: lowercase;
}
.common-style {
  background-color: #202c43bd;
  overflow-y: scroll;
  padding: 1rem;
  font-family: "Mulish", sans-serif;
  display: none;
}
.common-style h2 {
  text-align: center;
  margin: 0;
  text-transform: capitalize;
}
.common-style p {
  text-align: justify;
  font-size: 1rem;
}
.common-style table {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.common-style table tbody {
  width: 100%;
}
.common-style table tbody tr {
  width: 100%;
}
.common-style table tbody tr td {
  text-align: center;
  padding-top: 1vh;
  padding-bottom: 1vh;
  font-size: 0.9rem;
}
.common-style table tr td:nth-of-type(2) {
  text-align: right;
}
.common-style ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  flex-direction: column;
  height: 10rem;
  justify-content: space-evenly;
  align-content: center;
  text-align: center;
  text-transform: capitalize;
}
.common-style ul li {
  font-family: "Mulish", sans-serif;
  background-color: #5f87ac89;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 80%;
  margin: 0.5rem auto 0 auto;
  font-size: 1.2rem;
}
.common-style ul li:hover {
  cursor: pointer;
  background-color: #8c792f9e;
}
.common-style ul li:focus {
  background-color: #8c792f9e;
}
tr {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  background-color: #5f799269;
  padding: 0.3125rem;
  border: 0.0625rem solid rgba(233, 247, 255, 0.391);
}
tr:first-of-type {
  background-color: #40638469;
  text-transform: capitalize;
}
td,
th {
  width: 100%;
  text-align: center !important;
  height: 2rem;
  pointer-events: none;
}
tr td:first-of-type,
tr th:first-of-type {
  text-align: left !important;
  text-transform: capitalize;
}

@media only screen and (max-width: 810px) {
  #top-container {
    margin: 0;
    flex-direction: column;
    border: 0;
  }
  #image {
    height: 90vw;
    width: 90vw;
    border: 5vw solid #2f3f5cc4;
  }
  #full-list {
    width: 100vw;
    height: 60vw;
  }
  #bottom-container {
    width: 100vw;
    border: 0;
    border-top: solid 0.5rem #9bcfff5a;
  }
  #image-modal {
    top: 0;
    left: 0;
    height: 100vh;
    flex-direction: column;
    margin: 0;
  }
  #image-modal div {
    width: 100vw;
    height: 100vw;
    border: 0;
  }
  #image-modal article {
    text-align: center;
    width: 100vw;
    padding-left: 0;
    padding-right: 0;
  }
  #image-modal p {
    padding: 0;
  }
}

/*scrollbar*/
::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  background: #9bcfff56;
}
::-webkit-scrollbar-thumb {
  background: #9bcfff;
}
::-webkit-scrollbar-thumb:hover {
  background: #9bcfff77;
}
