@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  height: 100vh;
}
/* footer not for this 
*/

body {
  width: 100%;
  background-image: url("../images/index-background-image.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 50vh #131925bb; /*This adds a color filter over the image instead of creating a new div*/
}
#app {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
#top-container {
  display: inline-block;
  padding: 0;
}
#bottom-container {
  height: 80vh;
  display: inline-block;
  width: 60vw;
  padding: 0 10px 0 10px;
}
#image-information {
  font-family: "Mulish", sans-serif;
  font-weight: 500;
  background-color: rgba(208, 192, 163, 0.15);
  display: block;
  min-width: 300px;
}
#image-information article {
  padding: 10px;
}
#image-information p {
  text-align: justify;
  margin: 10px 20px 10px 20px;
  font-size: 0.9rem;
}
#image-information h2 {
  text-transform: capitalize;
  font-size: 1.3rem;
  text-align: center;
  margin: 0;
  letter-spacing: 1px;
  font-weight: 600;
}

/*scrollbar*/
::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  background: #9bcfff56;
}
::-webkit-scrollbar-thumb {
  background: #9bcfff;
}
::-webkit-scrollbar-thumb:hover {
  background: #9bcfff77;
  cursor: pointer; /*pointer not working*/
}

#image-container {
  overflow: hidden;
  justify-self: center;
  width: 50px;
  height: 50px;
  display: flex;
  position: relative;
  justify-content: center;
  top: 2rem;
}
#image-container img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  align-self: center;
}

#information-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: #2f3f5c9a;
  margin-bottom: 2vh;
  align-content: center;
}
#information-container div {
  text-align: center;
}
#information-container div:first-of-type {
  margin-left: 5vw;
}
#information-container div:last-of-type {
  margin-right: 5vw;
}
#information-container p {
  border: 1px solid rgba(233, 247, 255, 0.521);
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
}
#information-container div ul {
  padding: 0;
  z-index: 0;
  display: none;
  text-transform: capitalize;
}
#information-container div ul li {
  list-style-type: none;
  background-color: #9bcfff41;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}
#property-values {
  background-color: #2f3f5c9a;
  overflow-y: scroll;
  padding: 1rem;
  font-family: "Mulish", sans-serif;
}
#property-values h2 {
  text-align: center;
  margin: 0;
  text-transform: capitalize;
}
#property-values p {
  text-align: justify;
  font-size: 1rem;
}
#property-values table {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
#property-values table tbody {
  width: 100%;
}
#property-values table tbody tr {
  width: 100%;
}
#property-values table tbody tr td {
  text-align: center;
  padding-top: 1vh;
  padding-bottom: 1vh;
}
#explanation-container {
  background-color: #2f3f5c9a;
  padding: 1vw;
  margin-top: 2vh;
}
#category-list:hover,
#object-list:hover,
#property-list:hover {
  position: relative;
}
/*#category-list:hover ul,
#object-list:hover ul,
#property-list:hover ul {
  display: block;
  position: absolute;
  top: 2rem;
}*/

@media only screen and (max-width: 810px) {
  #app {
    flex-direction: column;
  }
  #top-container {
    padding: 0;
    display: flex;
    flex-direction: row;
    border-top: #2f3f5c solid 0.5rem;
    border-bottom: #2f3f5c solid 0.5rem;
  }
  #bottom-container {
    height: 44.5vh;
    width: 100vw;
    position: relative;
    display: block;
    padding: 0;
  }
  #image-information {
    display: none;
  }
  #image-container {
    top: 0;
    width: 50vw;
    height: 50vw;
    overflow: hidden;
  }
  #image-container:hover {
    cursor: pointer;
  }
  #expand {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    font-size: 1.2rem;
    color: rgba(233, 247, 255, 0.95);
  }
  #close {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 1.5rem;
    color: rgba(233, 247, 255, 0.95);
    display: none;
  }
  #image-container img {
    width: 100%;
    height: rgba(233, 247, 255, 0.392);
  }
  #category-list {
    width: 50vw;
    height: 50vw;
    background-color: #2f3f5c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: relative;
  }
  #category-list ul {
    padding: 0;
    overflow-y: scroll;
    margin: 0;
    margin-top: 2.5rem;
  }
  #category-list ul li {
    list-style-type: none;
    font-family: "Mulish", sans-serif;
    text-align: center;
    background-color: #9bcfff5a;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 80%;
    margin: 0.5rem auto 0 auto;
    text-transform: capitalize;
    font-size: 1.2rem;
  }
  #category-list ul li:hover {
    cursor: pointer;
    background-color: #ffda4564;
  }
  #menu-title {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 2rem;
    background-color: #7da3c780;
    position: absolute;
    top: 0;
  }
  #menu-title i {
    height: 2rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8c3d2b67;
  }
  #menu-title span {
    display: none;
  }
  #menu-title i:hover {
    cursor: pointer;
    background-color: #0000002c;
  }
  #menu-title i:active {
    background-color: #00000083;
  }
  #menu-title h3 {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
  }
  #information-container div p {
    font-size: 0.8rem;
    width: 24vw;
  }
  #information-container div {
    margin: 0;
    width: 33%;
  }
  #information-container div ul {
    display: none;
    width: 10rem;
    left: 50%;
    margin-left: -5rem;
  }
  #explanation-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2f3f5c;
    margin: 0;
    padding: 0;
  }
  #explanation-container article {
    padding: 6vw;
    overflow: hidden;
  }
  #explanation-container article h3 {
    margin: 0;
  }
  #property-values {
    display: none;
  }
  #property-values table tbody tr td {
    font-size: 0.9rem;
  }
  #property-values table tr td:nth-of-type(2) {
    text-align: right;
  }
  .mobile-display-image-info {
    display: flex !important;
    z-index: 1;
    position: absolute;
    height: 100% !important;
    width: 100% !important;
    background-color: #2f3f5cad !important;
    justify-items: center;
    align-items: center;
  }
  #image-information {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    background-color: #2f3f5c;
    top: 0;
  }
  #image-information div {
    width: 100vw;
    height: 100vw;
  }
  #image-information article {
    overflow-x: scroll;
  }
  #property-list {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 2rem;
    background-color: #7da3c780;
  }
  #property-list h3 {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
  }
  #property-list i {
    margin-left: 10px;
  }
  #property-list ul {
    position: relative;
    width: 200px;
    height: auto;
    background-color: #2f3f5c;
    z-index: 1;
  }
}
/*phone in landscape*/ /*
@media only screen and (orientation: landscape) {
  #app {
    flex-direction: row;
  }
  #image-information {
    display: none;
  }
  section:first-of-type {
    height: 45vw;
    position: relative;
  }
  #image-container {
      position: absolute;
      top: 0;
      width: 100%;
  }
  #explanation-container {
    display: none;
  }
  .mobile-display-image-info {
    display: flex;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    height: 35vw !important;
    width: 75vh !important;
    background-color: #2f3f5cad !important;
  }
  #image-information article {
      position: absolute;
      top: 50%;
      margin-top: -25%;
  }
  #property-values {
      max-height: 23vw;
  }
}*/

tr {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  background-color: #5f799269;
  padding: 5px;
  border: 1px solid rgba(233, 247, 255, 0.391);
}
tr:first-of-type {
  background-color: #40638469;
}
td {
  text-align: left !important;
}
td a {
  color: rgba(179, 227, 255, 0.829);
}
