@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  height: 100vh;
}
/* footer not for this 
*/

body {
  width: 100%;
  background-image: url("../images/index-background-image.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 50vh #131925bb; /*This adds a color filter over the image instead of creating a new div*/
}
#app {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
#top-container {
  height: 80vh;
  display: inline-block;
  width: 40vw;
  padding: 0;
}
#bottom-container {
  height: 80vh;
  display: inline-block;
  width: 60vw;
  padding: 0 10px 0 10px;
}
#top-container > div:first-of-type {
  margin: 0 10px 0 10px;
  height: 100%;
}
#image-information {
  font-family: "Mulish", sans-serif;
  font-weight: 500;
  background-color: rgba(208, 192, 163, 0.15);
  display: block;
  min-width: 300px;
}
#image-information article {
  padding: 10px;
}
#image-information p {
  text-align: justify;
  margin: 10px 20px 10px 20px;
  font-size: 0.9rem;
}
#image-information h2 {
  text-transform: capitalize;
  font-size: 1.3rem;
  text-align: center;
  margin: 0;
  letter-spacing: 1px;
  font-weight: 600;
}

/*scrollbar*/
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #9bcfff;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #9bcfff77;
  cursor: pointer; /*pointer not working*/
}

#image-container {
  overflow: hidden;
  justify-self: center;
  height: 300px;
  width: 300px;
  display: flex;
  position: relative;
  margin: auto auto;
  justify-content: center;
  top: 2rem;
}
#image-container img {
  height: 100%;
  overflow: hidden;
  object-fit: scale-down;
  align-self: center;
}

#information-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: #2f3f5c9a;
  margin-bottom: 2vh;
  align-content: center;
}
#information-container div {
  text-align: center;
}
#information-container div:first-of-type {
  margin-left: 5vw;
}
#information-container div:last-of-type {
  margin-right: 5vw;
}
#information-container p {
  border: 1px solid rgba(233, 247, 255, 0.521);
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
}
#information-container div ul {
  padding: 0;
  z-index: 0;
  display: none;
  text-transform: capitalize;
}
#information-container div ul li {
  list-style-type: none;
  background-color: #9bcfff41;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}
#property-values {
  background-color: #2f3f5c9a;
  overflow-y: scroll;
  max-height: 30vh;
  padding: 1rem;
  font-family: "Mulish", sans-serif;
}
#property-values h2 {
  text-align: center;
  margin: 0;
  text-transform: capitalize;
}
#property-values p {
  text-align: justify;
  font-size: 1rem;
}
#property-values table {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
#property-values table tbody {
  width: 100%;
}
#property-values table tbody tr {
  width: 100%;
}
#property-values table tbody tr td {
  text-align: center;
  padding-top: 1vh;
  padding-bottom: 1vh;
}
#explanation-container {
  background-color: #2f3f5c9a;
  padding: 1vw;
  margin-top: 2vh;
}
#category-list:hover,
#object-list:hover,
#property-list:hover {
  position: relative;
}
/*#category-list:hover ul,
#object-list:hover ul,
#property-list:hover ul {
  display: block;
  position: absolute;
  top: 2rem;
}*/
#category-list,
#object-list,
#property-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
#category-list p,
#object-list p,
#property-list p {
  position: relative;
}
#category-list p:hover,
#object-list p:hover,
#property-list p:hover {
  cursor: pointer;
}
#category-list ul,
#object-list ul,
#property-list ul {
  padding: 0.5rem;
  width: 170px;
  background-color: #406384;
  box-shadow: 3px 3px 3px #00345f2c;
  position: absolute;
  left: 50%;
  margin-left: -85px;
  top: 3rem;
  max-height: 12rem;
  overflow-y: scroll;
}
/*#category-list ul:hover,
#object-list ul:hover,
#property-list ul:hover {
  display: block;
  position: absolute;
  top: 2rem;
}*/
#category-list ul li,
#object-list ul li,
#property-list ul li {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-bottom: 0.2rem;
  position: relative;
}
#category-list ul li:hover,
#object-list ul li:hover,
#property-list ul li:hover {
  cursor: pointer;
  background-color: rgba(255, 166, 0, 0.322);
}
#category-list ul li:active,
#object-list ul li:active,
#property-list ul li:active {
  background-color: rgba(170, 111, 0, 0.322);
}
#category-list ul li:last-of-type:hover,
#object-list ul li:last-of-type:hover,
#property-list ul li:last-of-type:hover {
  margin-bottom: 7px;
}

@media only screen and (max-width: 810px) {
  #app {
    flex-direction: column;
  }
  #top-container {
    height: 40vh;
    width: 100vw;
    padding: 0;
    display: block;
    margin-bottom: 10px;
  }
  #bottom-container {
    height: 44.5vh;
    width: 100vw;
    position: relative;
    display: block;
    padding: 0;
    margin-bottom: 10px;
  }
  #top-container > div:first-of-type {
    position: relative;
  }
  #image-information {
    display: none;
  }
  #image-container {
    height: 100%;
    top: 0;
    min-width: 200px;
    max-width: 400px;
  }
  #image-container img {
    width: 100%;
    height: 100%;
  }
  #information-container div p {
    font-size: 0.8rem;
    width: 24vw;
  }
  #information-container div {
    margin: 0;
    width: 33%;
  }
  #information-container div ul {
    display: none;
    width: 10rem;
    left: 50%;
    margin-left: -5rem;
  }
  #explanation-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2f3f5c;
    margin: 0;
    padding: 0;
  }
  #explanation-container article {
    padding: 6vw;
    overflow: hidden;
  }
  #explanation-container article h3 {
    margin: 0;
  }
  #property-values table tbody tr td {
    font-size: 0.9rem;
  }
  #property-values table tr td:nth-of-type(2) {
    text-align: right;
  }
  .mobile-display-image-info {
    display: flex !important;
    z-index: 1;
    position: absolute;
    height: 100% !important;
    width: 100% !important;
    background-color: #2f3f5cad !important;
    justify-items: center;
    align-items: center;
  }
}
/*phone in landscape*/ /*
@media only screen and (orientation: landscape) {
  #app {
    flex-direction: row;
  }
  #image-information {
    display: none;
  }
  section:first-of-type {
    height: 45vw;
    position: relative;
  }
  #image-container {
      position: absolute;
      top: 0;
      width: 100%;
  }
  #explanation-container {
    display: none;
  }
  .mobile-display-image-info {
    display: flex;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    height: 35vw !important;
    width: 75vh !important;
    background-color: #2f3f5cad !important;
  }
  #image-information article {
      position: absolute;
      top: 50%;
      margin-top: -25%;
  }
  #property-values {
      max-height: 23vw;
  }
}*/

tr {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  background-color: #5f799269;
  padding: 5px;
  border: 1px solid rgba(233, 247, 255, 0.391);
}
tr:first-of-type {
  background-color: #40638469;
}
td {
  width: 100px;
  text-align: left !important;
}
td a {
  color: rgba(179, 227, 255, 0.829);
}
