body {
  background-image: url("../images/references-background-image.jpg");
}

section {
  font-family: "Mulish", sans-serif;
  padding-left: 5vw;
  padding-right: 5vw;
}
p {
  font-size: 0.9rem;
}
a {
  color: rgb(0, 163, 238);
}
h3 {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 1px;
}
span {
  padding-right: 0.25rem;
}
section i {
  font-size: 1rem;
}
section i:hover {
  color: rgba(0, 163, 238, 0.5);
}
section i:active {
  color: rgba(163, 0, 238, 0.5);
}
